.app {
    margin: -10px;
}
.application__side-nav {
    min-width: 210px;
    max-width: 210px;
    position: fixed;
    transition: min-width 0.35s ease;
    // z-index: 999;
    top: 150px;
}

.application__body
{
  padding-left: 215px;
  max-height: none !important;
}