<div class="application__top-nav">
    <top-nav></top-nav>
</div>
<div class="application__side-nav">
    <side-nav [data]="sideNav" (onNavClicked)="onSideNavClicked($event)"></side-nav>
</div>
<div class="application__body">
    <app-who-am-i *ngIf="currentItemId === 0"></app-who-am-i>
    <span *ngIf="currentItemId === 2">
        <app-experience *ngFor="let experience of data" [data]="experience"></app-experience>
    </span>
    <app-education *ngIf="currentItemId === 1"></app-education>
    <!-- <img src="../../assets/icons/loading.svg" height="%" width="60%" alt="coming soon" /> -->
</div>