li {
    a {
        text-decoration: none;
    }
    margin-bottom: 6px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    list-style-type: none;
    list-style: none;
    cursor: pointer;
    border-top: 1px solid black;
    
}
li:hover {
    color: gray;
}
.side-nav__container {
    list-style: none;
   
}
icon__link:hover {
    color: gray;
}

url__link:hover {
    color: purple;
}

