<div class="side__nav-container">
  <li *ngFor="let item of data" (click)="onNavClick(item)">
    <a class="material-icons" ngClass="icon__link"> {{ item.icon }} </a>
    <a class="url__link"> {{ item.name }} </a>
  </li>
</div>