<div class="dialog-container">
    <div mat-dialog-title style="text-align: center">
        <span class="icon-container">
            <img src="../../../assets/icons/warning.svg" width="100px" height="100px" alt="error" />
        </span>
        <h3>Oops, this looks like a 404 - page not found error</h3>
    </div>
    <mat-dialog-content>
        <div style="text-align: center"> You were trying to navigate to "{{ router.url }}" which appears to be an invalid.
            <br> It is recommended that you click 'Go to home page'
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div fxLayout="row" fxWrap="100" fxLayout.lt-md="column" style="margin: auto" fxLayoutGap="100px" fxLayoutAlign="space-between center">
            <ui-button [autofocus]="true" fxFlex="100" style="margin-right: 25px" (click)="onHomeClicked()">Go to home page</ui-button>
            <ui-button fxFlex="100" (click)="onStayClicked()">Stay on this page</ui-button>
        </div>
    </mat-dialog-actions>
</div>