<div class="container-fluid">
  <h4>Who Am I?</h4> <span style="text-decoration: underline;">Nkonzo</span>  That's not all 
  <p>
    <strong>I am a team player: </strong> In my team I communicate clearly. Using proper channels and strive for consistency.
  </p>
  <p>
    <strong>I am a student: </strong> It is safe to call me a student, I am forever working towards improving my skills.
  </p>
  <p>
    <strong>I am a realist: </strong>Rely on facts... Straight to the point and respect others.
  </p>
  <p>
    <strong>I am a developer: </strong> I apply analytical thinking into existing problems to help find an efficient solution..
    and ofcourse I build softwares using various technologies
  </p>
</div>