<nav class="navbar navbar-default bg-custom justify-content-between">
  <div class="container-fluid">
    <img (click)="onLogoClicked($event)" src="../../../assets/images/logo.png" height="60px" width="200px" />
  </div>
</nav>