<div class="container-fluid" fxLayout="column">

  <div class="row">
    <div class="column__name">Institution</div>
    <div class="column__value"> Ephes Mamkeli</div>
  </div>
  <div class="row">
    <div class="column__name">Certificate Attained</div>
    <div class="column__value"> Matric Certificate</div>
  </div>
  <div class="row">
    <div class="column__name">Start Date</div>
    <div class="column__value"> 02 January 2009</div>
  </div>
  <div class="row">
    <div class="column__name">End date</div>
    <div class="column__value"> 15 December 2013</div>
  </div>
</div>