.job__info {
  width: 100%;
}
.card-header-image {
  // background-image: url(../../../assets/icons/Absa-Logo.svg);
  background-color: #be0028;
  background-size: cover;
}

.reference {
  visibility: hidden;
  height: 0;
}

* {
  transition: margin-bottom 4s cubic-bezier(.1, .67, .5, 1),
  box-shadow 4s cubic-bezier(.1, .67, .5, 1),
  opacity 9s 2s,
  visibility 0s 2s;
  animation: tile-open .6s cubic-bezier(.13, 1.04, .58, 1);
}


@keyframes card-open {
  0% {
    opacity: .6;
    transform: perspective(1500px) rotateX(20deg) translateY(200px);
  }

  100% {
    opacity: 1;
    transform: perspective(0) rotateX(0) translateY(0);
  }
}