<mat-card class="mat-elevation-z4" ngClass="container">
  <mat-card-header>
    <div mat-card-avatar style="background-image: url(../../../assets/icons/Absa-Logo.svg)" class="card-header-image"></div>
    <mat-card-title> {{ data.companyName }}</mat-card-title>
    <mat-card-subtitle> {{ data.jobTitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="job__info">
      <strong>Start date:</strong> {{ data.startDate }} <br>
      <strong>End date:</strong> {{ data.endDate}} <br>
      <strong>Description:</strong> {{ data.jobDescription }}<br>
    </p>
    <button mat-stroked-button color="primary" (click)="toggleReference()">Reference</button>
  </mat-card-content>
  <mat-card-actions>
    <div class="container-fluid" ngClass="reference">
      Name: {{ data.reference.name }} <br> Email: {{ data.reference.email }} <br> Contact No {{ data.reference.contactNo
      }}
    </div>
  </mat-card-actions>
</mat-card>
<br>