/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.material-icons {
    position: relative;
    vertical-align: middle;
}